* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  row-gap: 20px;
  padding: 20px;
  max-width: 100vw;
}
.HOME {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.6rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(56, 54, 54, 0.219);
  padding-bottom: 20px;
}
.header {
  display: flex;
  flex-direction: column;
}
.navicons {
  display: flex;
  align-items: center;
  gap: 10px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(56, 54, 54, 0.219);
  padding-top: 20px;
}
.navicons img {
  max-width: 30px;
  margin-top: 20px;
}
button {
  height: 30px;
  background-color: rgb(255, 49, 49);
  color: azure;
  text-transform: uppercase;
  margin-left: 500px;
  padding: 8px 20px;
  border: rgba(56, 54, 54, 0.219);
}
.navicons p {
  padding: 5px;
  font-size: 0.5em;
}
.main {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 9rem;
  max-width: 800px;
  padding: 10px;
 
}
.main h2 {
  margin-bottom: 20px;
}
.aside {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(56, 54, 54, 0.219);
  padding-left: 60px;
}
.aside {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}
.aside h3 {
  margin-bottom: 10px;
}
.main img {
    width: 800px;
    height: 800px;
    object-fit: cover;
    margin-top: 30px;
}
.aside img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer {
  max-width: 1750px;
  background-color: black;
  color: #ffff;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: rgb(255, 49, 49);
}
.square {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
}
.footer h2 {
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 20px;
}
.footer h3 {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}
.footer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-top: 30px;
    
}
.socialbuttons {
    padding: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    background-color: rgb(255, 49, 49);
    
}
.square {
    padding-left: 20px;
    display:grid;
    grid-template-columns: repeat(5, 1fr);   
}