* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: 0;
}
body {
  background-color: #6dbcdb;
  max-width: 100vw;
}
.container {
  background-color: #9e9e9e;
  margin: 600px 600px;
}
.progressBar {
  animation: loader 2s ease infinite;
  background: #65b406;
  padding: 20px;
  max-width: 520px;
}
@keyframes loader {
  0% {
    width: 0;
  }
  66% {
    width: 52%;
  }
  100% {
    width: 100%;
  }
}
