* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: 0;
}
body {
  min-height: 100vh;
  max-width: 100vw;
  font-size: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header {
  max-height: 160px;
}
header {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgba(85, 79, 79, 0.048);
  padding-bottom: 50px;
  box-shadow: 0 8px 16px 0 rgba(216, 216, 216, 0.39),
    0 6px 20px 0 rgba(119, 119, 119, 0.19);
}
.icon {
  display: flex;
  width: 15em;
  margin-top: -60px;
  margin-left: 20px;
  margin-bottom: -200px;
}
.sign {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 30px;
}
.linkheader {
  display: flex;
  justify-content: flex-end;
  margin-top: 9px;
  margin-right: 30px;
  color: blue;
  
}
.issuhomepage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 60px;
  margin-left: 30px;
}
.socialIcons {
  padding: 20px;
}
.icone {
  display: flex;
  background-color: aliceblue;
}
.socialIcons button {
  background-color: #4286f5;
  border-radius: 6px;
  border: 0;
  padding: 5px 30px 9px 15px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  max-width: 450px;
  font-weight: bold;
  padding: 10px;
}
.input {
  padding:10px;
}
.check {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.create {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  max-width: 120px;
}
.create button {
  border-radius: 30px;
  border-style: dashed;
  border-color: #b1b1b1;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color:rgb(163, 163, 163);
  width: 230px;
  height: 50px;
  background-color: #ffffff;
  cursor:pointer;
  
}
footer {
  display: flex;
  margin-top: 30px;
  max-width: 100vw;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: rgba(133, 133, 133, 0.301);
  padding: 20px;
}
.issuu {
  margin-right: 60px;
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(43, 43, 43);
}
.otherfooterinfo {
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(43, 43, 43);
  padding: 30px;
}